@font-face {
    font-family: Aksara;
    src: url("../fonts/Genk-Kobra\ Elysanti\ rev.ttf");
}

body {
    background-color: #FFFFFF;
    /* font-family: 'Squiggly Asta', sans-serif; */
    font-family: 'Playfair Display';
    overflow-x: hidden;
}

#main {
    font-family: 'Squiggly Asta', sans-serif;
}

.content-title {
    position: absolute;
    top: 10px;
}


.guest-tag {
    position: relative;
    right: -30px;
}

.initial-name {
    position: absolute;
    right: -75px;
    top: 40px;
}

.initial-name span {
    color: white;
    font-size: 50px;
}

.images {
    top: 0;
}

.images img {
    height: 530px !important;
}

.name {
    font-size: 55px !important;
    font-weight: 600;
}

.chair-1 {
    position: absolute;
    left: 0;
    height: 100px;
    bottom: 80px;
}

.chair-2 {
    position: absolute;
    right: 0;
    height: 100px;
    bottom: 80px;
}

.font-aksara {
    font-family: Aksara;
}

#rangkaian {
    position: relative;
}

.acara-1 {
    position: absolute;
    right: 0%;
    top: -40px;
}

.acara-2 {
    position: absolute;
    left: 0%;
    top: -40px;
}

.footer-chair-1 {
    position: absolute;
    top: 50px;
    height: 200px;
}

.footer-chair-2 {
    position: absolute;
    top: 50px;
    right: 0;
    height: 200px;
}

@media (min-width: 576px) {
    .images img {
        height: 600px !important;
    }


    .initial-name {
        position: absolute;
        right: -115px;
        top: 45px;
    }

    .chair-1 {
        height: 150px;
        bottom: 0;
    }

    .chair-2 {
        height: 150px;
        bottom: 0;
    }

    .footer-chair-1 {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .images img {
        height: 600px !important;
    }

    .chair-1 {
        height: 150px;
        bottom: 0;
    }

    .chair-2 {
        height: 150px;
        bottom: 0;
    }

    .footer-chair-1 {
        height: 200px;
    }
}

@media (min-width: 992px) {
    .images img {
        height: 600px !important;
    }



    .chair-1 {
        height: 320px;
        bottom: 0;
    }

    .chair-2 {
        height: 320px;
        bottom: 0;
    }

    .footer-chair-1 {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .images img {
        height: 600px !important;
    }

    .chair-1 {
        height: 500px;
        bottom: 0;
    }

    .chair-2 {
        height: 500px;
        bottom: 0;
    }

    .footer-chair-1 {
        height: 200px;
    }
}

@media (min-width: 1400px) {
    .images img {
        height: 600px !important;
    }

    .footer-chair-1 {
        height: 200px;
    }
}